HHFG/text/human-hacking-field-guide-v2--english.epub
HHFG/text/human-hacking-field-guide-v2--english.fiction-text.xhtml
HHFG/text/human-hacking-field-guide-v2--hebrew.db5.xml
HHFG/text/human-hacking-field-guide-v2--hebrew.fiction-text.xhtml
HHFG/text/human-hacking-field-guide-v2--hebrew.fiction-xml.xml
