Pope/text/The-Pope-Died-on-Sunday-english.db5.xml
Pope/text/The-Pope-Died-on-Sunday-english.epub
Pope/text/The-Pope-Died-on-Sunday-english.fiction-text.xhtml
Pope/text/The-Pope-Died-on-Sunday-english.fiction-xml.xml
Pope/text/The-Pope-Died-on-Sunday-english.xhtml.html
Pope/text/The-Pope-Died-on-Sunday-hebrew.db5.xml
Pope/text/The-Pope-Died-on-Sunday-hebrew.fiction-text.xhtml
Pope/text/The-Pope-Died-on-Sunday-hebrew.fiction-xml.xml
