HHFG/text/human-hacking-field-guide--english.epub
HHFG/text/human-hacking-field-guide--english.fiction-text.xhtml
HHFG/text/human-hacking-field-guide--hebrew.db5.xml
HHFG/text/human-hacking-field-guide--hebrew.fiction-text.xhtml
HHFG/text/human-hacking-field-guide--hebrew.fiction-xml.xml
